<h1>Viikon {{ viikko }} pakkasasteet (laatinut :{{ tekija}}) </h1>

Ma:{{pakkasasteet['ma']}}<sup>o</sup>C 
Ti:{{pakkasasteet['ti']}}<sup>o</sup>C
Ke:{{pakkasasteet['ke']}}<sup>o</sup>C
To:{{pakkasasteet['to']}}<sup>o</sup>C
Pe:{{pakkasasteet['pe']}}<sup>o</sup>C
La:{{pakkasasteet['la']}}<sup>o</sup>C
Su:{{pakkasasteet['su']}}<sup>o</sup>C
Pakkaspäivät (ka):{{keskiarvo1}}<sup>o</sup>C
Koko viikko (ka):{{keskiarvo2}}<sup>o</sup>C
